#dangNhap {
  button {
    margin-top: 10px;
    width: 100%;
  }
  #back {
    margin-top: 10px;
  }
}
#dangKy {
  button {
    margin-top: 10px;

    width: 100%;
  }
  #back {
    margin-top: 10px;
  }
}
