#danhMucSanPham {
  .container {
    .tabLabel {
      width: 100px;
      text-align: center;
      word-wrap: break-word;
      white-space: initial;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      p {
        width: 100px;
        font-size: 12px;
        font-weight: bold;
        color: rgb(100, 100, 100);
      }
      .tenDanhMuc {
        width: 100px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: rgb(120, 120, 120);
        word-wrap: break-word;
      }
    }
    .ant-tabs-nav {
      .ant-tabs-tab {
        margin: 0 0 0 6px;
        padding: 3px 0;
      }
    }
    .ant-tabs-content-holder {
      width: 1160px;
      margin: 0 auto;
      border-left: 0 solid silver;

      .ant-tabs-tabpane-active {
        padding: 0 !important;
        margin: 0 auto;
        width: 1160px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  #danhMucSanPham {
    .container {
      width: 100%;
      .ant-tabs-content-holder {
        width: 965px;
        margin: 0 auto;

        .ant-tabs-tabpane-active {
          padding: 0 !important;
          margin: 0 auto;
          width: 965px;
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  #danhMucSanPham {
    .container {
      width: 100%;
      .ant-tabs-content-holder {
        width: 770px;
        margin: 0 auto;

        .ant-tabs-tabpane-active {
          padding: 0 !important;

          margin: 0 auto;

          width: 770px;
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #danhMucSanPham {
    .container {
      width: 100%;

      .ant-tabs-content-holder {
        padding: 0;

        width: 575px;
        margin: 0 auto;

        .ant-tabs-tabpane-active {
          padding: 0 !important;

          margin: 0 auto;

          width: 575px;
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #danhMucSanPham {
    .container {
      width: 100%;
      .ant-tabs-content-holder {
        width: 380px;
        margin: 0 auto;

        .ant-tabs-tabpane-active {
          padding: 0 !important;

          margin: 0 auto;

          width: 380px;
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  #danhMucSanPham {
    .container {
      width: 100%;
      .ant-tabs-content-holder {
        width: 100%;
        margin: 0 auto;

        .ant-tabs-tabpane-active {
          padding: 0 !important;

          margin: 0 auto;

          width: 100%;
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }
  }
}
