.container {
  .danhMuc {
    margin-top: 10px;
  }
  .content {
    margin: 20px auto 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 0 30px;

    p.tenDanhMuc {
      padding: 20px 0 10px 0;
      font-size: 22px;
      font-weight: 600;
      color: red;
      text-transform: uppercase;
    }
  }
}
