#cauHinh {
  width: 335px;
  div.form {
    margin-top: 20px;
    .inputItem {
      // border: none;
      p {
        width: 230px;
      }
      input {
        width: 100px;
        text-align: right;
      }
    }
  }
}
