.title {
  text-align: right;
  padding: 5px 15px 5px 10px;
  height: 30px;
  // background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .effect {
    display: flex;
    gap: 10px;
    p {
      margin-right: 20px;
      animation: slideFromRight 5s ease-in-out infinite;
    }
    .logOut {
      background-color: white;
      position: absolute;
      right: 0px;
      width: 30px;
      // height: 20px;
      z-index: 1000;
      text-align: center;

      i {
        color: red;
      }
    }
  }

  i.menuSize {
    width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    // background-color: royalblue;
    color: royalblue;
    // border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      color: red;
    }
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#quanLy {
  margin-top: 3px;
  display: flex;
  gap: 3px;
  .menu {
    // background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    width: 150px;
    transition: all 0.3s;
    a {
      color: royalblue;
      border-bottom: 1px solid silver;
      transition: all 0.3s;
      margin: 0;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      font-size: 14px;
      font-weight: 400;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: red;
        i {
          background-color: red;
        }
      }
      i {
        margin-right: 5px;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        background-color: royalblue;
        color: white;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 14px;
      }
      &.active {
        color: red;
        i {
          background-color: red;
        }
      }
    }
  }
  .menu.small {
    width: 50px;
    a {
      // display: block;
    }
  }
  .body {
    // position: relative;
    background-color: white;
    width: 100%;
    padding: 2px 5px 10px;
    // border-radius: 10px;
    height: calc(100vh - 33px);
    overflow: scroll;
    .bottomTitle {
      // position: fixed;
      // bottom: 0;
      // left: 0;
      // right: 0;
      margin: 10px auto 0;
      color: rgb(195, 195, 195);
      text-align: center;
      font-size: 12px;
      height: 30px;
      line-height: 30px;
    }
  }
}
