body {
  background-color: white;
  // font-size: 13px;
  // font-weight: 500;
}
.printArea {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 0 80px 0;
  h2 {
    text-align: center;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
  }
  h3 {
    text-align: center;
    margin: 14px auto 0;
    font-size: 20px;
  }
  p.center {
    text-align: center;
  }
  p.dienThoai {
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  i {
    color: black;
    font-weight: bold;
  }
  .inputItem.spaceAround {
    justify-content: space-around;
    gap: 20px;
    border-bottom: 1px solid black;
  }

  p.diaChi {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 500;
  }

  p.nguoiLienHe {
    text-transform: capitalize;
  }
  p.center {
    font-size: 14px;
    font-weight: 500;
    b {
      display: block;
      padding: 3px 0 0 0;
    }
  }
  .thongTinKhachHang {
    margin-top: 5px;
    p {
      font-size: 14px;
      font-weight: 400;
      padding: 5px 0 0;

      b.diaChi {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 500;
      }
      b.ghiChu {
        font-size: 14px;
        font-weight: 400;
      }
    }
    p.soPhieu {
      text-align: center;
    }
    p.ghiChu {
      text-align: center;
      text-transform: none;
    }
  }
  .thongTinDonHang {
    margin-top: 10px;

    table.orderDetails {
      border-collapse: collapse;
      width: 300px;
      margin: 0 auto;
      thead {
        font-size: 14px;
        tr {
          td {
            background-color: black;
            color: white;
            padding: 5px;
            width: 110px;
          }
          td.tien {
            text-align: right;
          }
        }
      }
      tbody {
        tr {
          padding: 5px;
          td {
            padding: 6px 0;
            border-bottom: 1px solid black;
            span {
              width: 110px;
              color: black;
              font-size: 13px;
              font-weight: 500;
              margin-top: 5px;
              &:last-child {
                padding-left: 5px;
              }
            }
            .inputItem {
              border: none;
            }
            p {
              font-size: 14px;
              font-weight: 500;
            }
            b {
              font-size: 14px;
              font-weight: 500;
            }
          }
          td.thanhTien {
            width: 80px;
            text-align: right;
            vertical-align: bottom;
            border-bottom: 1px solid black;
            padding: 6px 0;
            font-size: 14px;
            font-weight: 500;
          }
          td.tien {
            width: 80px;

            text-align: right;
            padding: 3px 0;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
    .bottom {
      margin-top: 10px;
      text-align: center;
      // border-top: 1px solid silver;
      padding-top: 5px;
    }
  }
  svg {
    height: 80px;
    width: 100%;
    color: black;
  }
  button {
    width: 100%;
    margin-top: 20px;
  }
}

@media print {
  .printArea {
    width: 300px;
  }
  .no-print {
    display: none;
  }
}
