#nhapHang {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  min-height: calc(100vh - 30px);
  background-color: white;
  width: 100%;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .topForm {
    width: 100%;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    border-radius: 10px;
    .search {
      margin: 10px auto 0;
    }
  }
  form {
    margin-top: 10px;
    width: 100%;
    max-height: calc(100vh - 190px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 0 0 10px 0;
    // border-radius: 10px;
    overflow-y: scroll;

    table {
      width: 100%;
      margin: 0 auto;
      border-collapse: collapse;
      // border: 1px solid black;

      thead {
        position: sticky;
        top: 0;
        tr {
          background-color: royalblue;
          color: white;
          td {
            padding: 5px;
            &.soLuong {
              width: 60px;
              text-align: right;
            }
            &.center {
              text-align: center;
            }
          }
        }
      }
      tbody {
        tr {
          // height: 40px;
          // border-bottom: 1px solid silver;
          &:nth-child(even) {
            background-color: rgb(237, 237, 237, 0.3);
          }
          td {
            padding: 5px;
            // border: 1px solid black;

            &.soLuong {
              width: 60px;
              text-align: right;
              input {
                text-align: right;
                padding: 0;
                font-size: 14px;
                font-weight: 400;
                background-color: transparent;
              }
            }
            &.dvt {
              width: 60px;
              padding: 0;
            }
            &.center {
              text-align: center;
              width: 50px;
            }
            input {
              // background-color: transparent;
              width: 100%;
              font-size: 14px;
              font-weight: 400;
              background-color: transparent;

              // background-color: red;
              &::placeholder {
                color: black;
              }
            }
            .inputItem {
              border: none;
              p {
                padding: 6px 0;
                font-size: 15px;
                font-weight: 400;
              }
            }
            button {
              background-color: royalblue;
              color: white;
              width: 22px;
              height: 22px;
              margin: 0 auto;
              cursor: pointer;
              transition: all 0.3s;
              &:hover {
                background-color: red;
              }
            }
          }
        }
      }
    }
  }
  .ant-select {
    width: 100%;
    .ant-select-selector {
      // width: 100%;
      padding: 0;
      display: flex;
      justify-content: space-between;

      .ant-select-selection-search {
        padding: 0;
        margin: 0;
        // background-color: red;
        input {
          text-align: left;
          width: 100%;
          // padding: 0 5px;
        }
      }
      .ant-select-selection-item {
        text-align: left;
        padding: 0 0 0 7px;
        margin: 0;
      }
      .ant-select-selection-placeholder {
        margin-right: 40px;
        // width: 100%;
        // color: red;
        display: block;
      }
    }
  }
  .ant-tabs-tabpane {
    padding-left: 0 !important;
  }
  .listPhieu {
    width: 50%;
    .phieuNhap {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      padding: 20px;
      margin-top: -10px;
      input {
        background-color: transparent;
      }
      .thongTin {
        padding: 10px 0px;
        border-radius: 10px;
        // border: 1px solid rgb(195, 195, 195);
        // margin-bottom: 20px;
        i {
          width: 20px;
        }
        p {
          width: 100%;
          height: 30px;
          line-height: 30px;
          padding: 0 5px;
          font-size: 16px;
          font-weight: 400;
        }
      }

      table {
        width: 100%;
        // margin: 20px 0;
        border-collapse: collapse;
        border: 1px solid silver;
        font-size: 14px;
        thead {
          tr {
            background-color: royalblue;
            color: white;
            font-size: 14px;
            td {
              padding: 2px 5px;
              font-size: 14px;
              font-weight: 400;

              .right input {
                text-align: right;
                padding: 0;
                font-size: 14px;
              }
              .right p {
                text-align: right;
              }
              &.right {
                text-align: right;
              }
              &.dvt {
                width: 60px;
              }
              &.soLuong {
                width: 70px;
              }
              &.donGia {
                width: 100px;
              }
              &.thanhTien {
                width: 110px;
              }
              &.stt {
                width: 40px;
                text-align: right;
              }
            }
          }
        }
        thead.bottom {
          tr {
            background-color: white;
            color: black;
            border: 1px solid rgb(195, 195, 195);

            td {
              font-size: 14px;

              // p: {
              //   padding: 0 5px;
              // }
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 2px 5px;
              font-size: 14px;
              font-weight: 400;
              border: 1px solid rgb(195, 195, 195);

              .right input {
                text-align: right;
                font-size: 14px;
              }
              .right p {
                text-align: right;
              }
              &.xoa {
                span {
                  cursor: pointer;
                }
              }
              &.right {
                text-align: right;
              }
              &.ten {
                text-transform: capitalize;
              }
              &.soLuong {
                width: 80px;
              }
              &.donGia {
                width: 120px;
              }
              &.thanhTien {
                width: 130px;
              }
              &.stt {
                width: 40px;
              }
              &.center {
                text-align: center;
              }
              p {
                width: 100%;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                font-weight: 400;
                padding: 0 5px;
              }
              i {
                color: rgb(195, 195, 195);
                transition: all 0.3s;
                cursor: pointer;
                &:hover {
                  color: red;
                }
              }
              input {
                font-size: 16px;
                font-weight: 400;
                padding: 0;
                &::placeholder {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}
