#phieuNhapNo {
  select {
    color: black;
  }
  h2 {
    text-align: center;
    margin: 0 0 20px 0;
  }
  h3 {
    text-align: center;
    color: silver;
    margin: 100px 0;
  }
  table {
    margin-top: 10px;
    thead {
      position: sticky;
      top: -2px;
      tr {
        td {
          padding: 5px 20px;
          &.right {
            text-align: right;
          }
          &.stt {
            width: 50px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 5px 20px;
          input {
            text-align: right;
            background-color: transparent;
          }

          &.right {
            text-align: right;
          }
          &.stt {
            width: 50px;
          }
        }
      }
    }
  }
}
